nav  {
    display: flex;
}

#menulinks {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

#menulinks p {
    padding-right: 5%;
    padding-left: 5%;
 
}

#navsearchbar {
    padding-top: 16px;
    padding-left: 10%;
}