
p {
    font-family: sans-serif;
}
nav  {
    display: flex;
    border-bottom: solid black 1px;
    background-color: light green;
}

#menulinks {
    display: flex;
    width: 55%;
    justify-content: flex-end;
}

#menulinks div {
    display: flex;
    width: 100%;
}

#menulinks p {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

#navsearchbar {
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;

}

#searchinternalnav {
    float: right;
    margin-right: 20px;
}

#navlogo {
    width: 30%;
}

#logo {
    width: 120px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 30px;
}

footer {
    border-top: 1px solid black;
    display: flex;
}

#newsletterContainer {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px 10px 15px 10px;
    text-align: center;
    width: 300px;
    height: 150px;
}

#menulinksinnercontainer a {
    text-decoration: none;
    color: black;
    padding: 5px;
    
}
#menulinksinnercontainer a:hover {
    background-color: black;
    color: white;
}

#footerContactInfo h3 {
    text-align: center;
}

#newsletterContainer p:first-child {
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#footerContactInfo {
    margin-left: auto;
    margin-right: 5%;
}

#navMagnifyingGlass {
    width: 20px;

}

#navMagnifyingGlass:hover {
    background-color: lightgray;
    border: 1px solid black;
}

#newslettersignupconfirmation {
    position: absolute;
    z-index: 1;
    visibility:hidden;
}
#newsLetterForm {
    position: absolute;
}

.highlight {
    background-color: yellow;
  }
#searchsvgcontainer:active {
    background-color: lightgray;
    border: 1px solid gray;
}
main {
    padding-left: 5%;
    padding-right: 5%;
}

#HomeMainImage {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
}

.homepageLinksContainer {
    display: flex;
}

.homeImageContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.homeImageContainer h2 {
    font-family: sans-serif;
    font-size: xx-large;
}

.homePageImageLinks {
    width: 800px;
    height: 600px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;

}

.homePageImageLinks:hover {
    color: red;
    box-shadow: none;
    border: 1px solid black;
    filter: brightness(60%);
}

.titleBar {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.thingsToDoSections {
    display: flex;
    justify-content: center;
}

.thingsToDoSections img {
    width: 700px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    
}

.thingsToDoSections * {
    margin-left: auto;
    margin-right: auto;
}

.activitiesDescription {
    text-align: center;
    width: 40%;
}

.activitiesDescription * {
    line-break: break-all;
    font-family: sans-serif;
    font-size: xx-large;
}

.restaurantCategories{
    display: flex;
    text-align: center;
}

.restaurantCategories h3{
    font-family: sans-serif;
    font-size: xx-large;
    
}
.restaurantImg {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
}

.restaurantInfo {
    margin-right: auto;
    margin-left: auto;
    
}

.restaurantInfo p{
    font-family: sans-serif;
    font-weight: bold;
    line-break: break-all;
}

#transportToSection {
    display: flex;
}

#transportToSection img {
    width: 900px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    margin-left: 5%;
}

#transportationCat {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#transportToSection p {
    font-family: sans-serif;
    font-size: x-large;
    line-break:break-all;
    margin-left: 5%;
    margin-right: 5%;
}

.transportationCat {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.transportationCat img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    margin-left: auto;
    margin-right: auto;
}
.transportationCat h3 {
    font-family: sans-serif;
    font-size: x-large;
}
.transportationCat p {
    line-break: break-all;
}

.faqConainer {
    text-align: center;
    font-size: xx-large;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.faqConainer p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.faqConainer p:first-child {
    border: 3px solid black;
    border-radius: 10px;
}

.faqConainer p:first-child:hover {
    border: 4px solid black;
    background-color: rgb(211, 211, 211);
}

.faqConainer p:nth-child(2) {
    border: 1px solid black;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}

#slideshow{
    position: relative;
}


.imgSlide img{
    border-radius: 10px;
    border: 3px solid gray;
    height: 800px;
    width: 1000px;
}

.imgSlide p {
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size:xx-large ;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.788);
}


.imgSlide{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;
}


#forwardArr {
    position: absolute;
    top: 50%;
    left: 78%;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
}

#backArr {
    position: absolute;
    top: 50%;
    right: 78%;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
}

#forwardArr:hover{
    background-color: rgba(87, 86, 86, 0.63);

}

#backArr:hover {
    background-color: rgba(87, 86, 86, 0.63);
}

.slideContainer {
    position: absolute;
}

