

nav  {
    display: flex;
    border-bottom: solid black 1px;
}

#menulinks {
    display: flex;
    width: 55%;
    justify-content: flex-end;
}

#menulinks div {
    display: flex;
    width: 100%;
}

#menulinks p {
    margin-right: auto;
 
}

#navsearchbar {
    padding-top: 16px;
    width: 15%;

}

#searchinternalnav {
    float: right;
}

#navlogo {
    width: 30%;
}